<footer class="footer">
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="left">
								<h2><i><img src="../../../static/default/demo/imgs/logo1.png"></i>微主页，重新定义圈子</h2>
								<p>
									<a href="/help-about.html" title="关于我们">关于我们</a>
									<i>|</i>
									<a href="/help-contact.html" title="联系我们">联系我们</a>
									<i>|</i>
									<a href="/help-partner.html" title="合作伙伴">合作伙伴</a>
									<i>|</i>
									<a href="/help-term.html" title="服务条款">服务条款</a>
								</p>
								<p class="feedback_adv">反馈建议：service@wezchina.com</p>
								<p class="work_time">工作时间：周一到周五 9:00-18:00</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6  col-xs-12">
							<div class="right">
								<h2>合作伙伴</h2>
								<div class="clearfix">
									<a href="javascript:;"><img src="../../../static/default/demo/imgs/aly.png"></a>
									<a href="javascript:;"><img src="../../../static/default/demo/imgs/txyun.png"></a>
									<a href="javascript:;"><img src="../../../static/default/demo/imgs/wyyx.png"></a>
									<a href="javascript:;"><img src="../../../static/default/demo/imgs/wyqiyu.png"></a>
									<a href="javascript:;"><img src="../../../static/default/demo/imgs/umeng.png"></a>
									<a href="javascript:;"><img src="../../../static/default/demo/imgs/gt.png"></a>
									<a href="javascript:;"><img src="../../../static/default/demo/imgs/teambition.png"></a>
									<a href="javascript:;"><img src="../../../static/default/demo/imgs/yp.png"></a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-12 hidden-sm">
							<div class="code">
								<b><img src="../../../static/default/demo/imgs/code.jpg"></b>
								<span>扫码关注"We互助"平台</span>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="container">
				<div class="footer-bom">
					本站由
					<a href="javascript:;" style="color: #fff;">
						大秦云 提供云加速与安全服务
					</a>
					Copyright © 2016 微众中国 wezchina.com 版权所有 陕ICP备15006570号
				</div>
			</div>
		</footer>