{% extends "bootstrap/base.html" %}
{% block title %}微众中国{% endblock %}
{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default/home/css/reset.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default/home/css/styles.css') }}">
{% endblock %}

{% block navbar %}
<!--固定顶部-->
		<header id="header">
			<nav class="navbar navbar-default navbar-fixed-top navbar-color">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
				      	</button>
						<a class="navbar-brand navbar-logo" href="#">
							<img src="../../../static/default/demo/imgs/logo.png" class="we-logo" />
						</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active">
								<a href="#" class="list">首页</a>
							</li>
							<li>
								<a href="#" class="list">众筹</a>
							</li>
							<li class="dropdown">
								<a href="#" id="information" class="list">资讯</a>
								<div class="cont hidden-xs" style="left: -3px;">
									<a href="/notice">重要公告</a>
									<a href="/activity">线下活动</a>
									<a href="/guider">创业向导</a>
									<a href="/trends">创业动态</a>
								</div>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right hidden-xs">
							<li>
								<div class="sing_in">
									<a href="/login" class="go_sing_in">快速登录</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
{% endblock %}

{% block content %}
{% block index_page %}{% endblock index_page %}
<div>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <div id="page_content">
    {% block page_content %}{% endblock %}
    </div>
</div>
{% block footer %}
{% include 'default/home/footer.html' %}
{% endblock footer %}
{% endblock %}

{% block scripts %}
{{ super() }}
	<script src="https://cdn.bootcss.com/velocity/1.5.0/velocity.js"></script>
<script src="{{ url_for('static', filename='default/home/js/base.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='default/home/js/index.js') }}" type="text/javascript" charset="utf-8"></script>
{{ moment.include_moment() }}
{% endblock %}