{% extends "default/home/home_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}微众中国{% endblock %}

{% block index_page %}
{% endblock index_page %}

{% block page_content %}

<h1>关于我们</h1>
微众中国，中国领先的众筹创业融资平台！
微众中国（www.wezchina.com），中国领先的众筹创业融资平台！创立于2014年3月，专注于丝路互联网+创业的众筹融资，为创业者提供私募股权、回报众筹、一元云筹、项目投融资一体化综合互联网金融服务，帮助创业者实现众筹融资，并以众筹的模式快速将项目推向市场。

创始人简介
创始人兼CEO柯尊平，陕西省互联网协会副秘书长，中国青少年新媒体协会副秘书长，陕西省青年企业家协会常务理事，陕西省青年创业导师协会副会长，2014年陕西省优秀青年创业导师。
2005年创立四博互联。
2008年被IT世界网称为“西北IDC行业的拓荒者”。
2012年获评“2012陕西省互联网行业发展推动人物”荣誉称号，所创立四博互联公司荣获2012年度中国互联网行业自律贡献奖，是20多年来陕西首家且唯一的一家荣获此殊荣的互联网企业。
2010年发起并于2011年、2012年、2014年连续承办首届、第二、三届、及第五届陕西省互联网大会。
2014年3月创立微众中国（www.wezchina.com），专注于丝路互联网+创业的众筹融资服务，为创业者提供私募股权融资、回报众筹、一元云筹、项目投融资一体化综合互联网金融服务。

企业文化
口号：微力量，众行远 ！
愿景：做丝绸之路最受尊敬的互联网企业
使命：打造丝路第一众筹创业融资服务平台，构筑丝路互联网创业与投融资生态圈。
价值观：正直、乐观、进取、创新
经营理念：一切以用户价值为依归
管理理念：关心员工成长

众筹规则
筹资，筹资项目必须在发起人预设的时间内达到或超过目标金额才算成功。
未达成，没有达到目标的项目，投资/支持款项自动解冻，第三方托管资金随时提现。
达成，投资人/支持者将得到项目发起人预先承诺的股权/回报。
{% endblock page_content  %}
{% block scripts %}
{{ super() }}
{% endblock %}
