<div class="list-group">
  <a href="#" class="list-group-item active"> 用户管理 </a>
  <a href="{{ url_for('admin_user.index')}}" class="list-group-item">用户列表</a>
  <a href="{{ url_for('admin_user.realname')}}" class="list-group-item">实名认证</a>
  <a href="{{ url_for('admin_user.vcert')}}" class="list-group-item">v认证</a>
</div>
<div class="list-group">
  <a href="#" class="list-group-item active"> 模块管理 </a>
  <a href="{{ url_for('admin_module.index')}}" class="list-group-item">模块列表</a>
  <a href="{{ url_for('admin_module.create')}}" class="list-group-item">添加</a>
</div>
<div class="list-group">
  <a href="#" class="list-group-item active"> 产品管理 </a>
  <a href="{{ url_for('admin_product.index')}}" class="list-group-item">产品列表</a>
</div>
<div class="list-group">
  <a href="#" class="list-group-item active"> 方案管理 </a>
  <a href="{{ url_for('admin_user.index')}}" class="list-group-item">用户列表</a>
  <a href="{{ url_for('admin_user.realname')}}" class="list-group-item">实名认证</a>
  <a href="{{ url_for('admin_user.vcert')}}" class="list-group-item">v认证</a>
</div>

